学生管理信息系统/App_WebReferences/GetInfoService/getinfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="S_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentInfoResult" type="tns:StuInfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StuInfoResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="infoDataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getStudentInfo" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="getinfoSoap">
    <wsdl:operation name="getStudentInfo">
      <wsdl:input message="tns:getStudentInfoSoapIn" />
      <wsdl:output message="tns:getStudentInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getinfoSoap" type="tns:getinfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentInfo">
      <soap:operation soapAction="http://tempuri.org/getStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getinfoSoap12" type="tns:getinfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentInfo">
      <soap12:operation soapAction="http://tempuri.org/getStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getinfo">
    <wsdl:port name="getinfoSoap" binding="tns:getinfoSoap">
      <soap:address location="http://localhost:1390/S-MIS1.0/getinfo.asmx" />
    </wsdl:port>
    <wsdl:port name="getinfoSoap12" binding="tns:getinfoSoap12">
      <soap12:address location="http://localhost:1390/S-MIS1.0/getinfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>